html {
	background: linear-gradient(to bottom right, #04d8f9, #1c5476) fixed;
}

input {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	height: 80%;
	width: 70%;
	border: 1px solid darkgray;
	margin-top: 3px 0 0 0;
	outline: none;
	border-right: none;
	padding-left: 8px;
	padding-right: 0;

	margin-right: 0;
}

button {
	position: relative;
	right: 5px;
	height: 87%;
	border: 1px solid darkgray;
	background-color: #1f232a;
	color: white;
	font-weight: bold;
	margin: 4px 0 0 0;
	border-top-right-radius: 18px;
	border-bottom-right-radius: 18px;
	cursor: pointer;
	outline: none;
	transition: all 200ms linear;
}

button:hover {
	background-color: black;
}

.title {
	background-color: #1f232a;
	width: 100%;
	height: 20%;
	text-align: center;
	color: white;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
}

.title h2 {
	position: relative;
	top: 15px;
}

.task-input {
	height: 100%;
	width: 75%;
	margin: 0 auto;
	position: relative;
	left: 5%;
}

.task {
	height: 10%;
	width: 100%;
	border-bottom: 1px solid gray;
	margin: 0px;
}

#app {
	width: 100%;
	height: 100%;
}

#main {
	position: relative;
	border-radius: 40px;
	background-color: white;
	display: flex;
	flex-direction: column;
	box-shadow: 5px 5px 15px black;
	height: 500px;
	width: 350px;
	margin: 0 auto;
}

#task-input-bar {
	height: 12%;
	width: 100%;
	border-bottom: 1px solid gray;
}

#header {
	background-color: black;
	opacity: 0.85;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0;
	padding: 0;
	margin-bottom: 2.5%;
}

#header h2 {
	color: white;
}

#header-content {
	margin-left: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#logo {
	height: 100px;
	width: 100px;
	margin: 0;
	padding: 0;
}
